body {
    margin-top: 20px;
    background: #e0ebf1 url('../images/whale.png') center 90% no-repeat;
    height: 100vh;
}

.altbody {
    margin-top: 20px;
    background: #e0ebf1 url('../images/whitewhale.png') center 90% no-repeat;
    height: 100vh;
}

h2 {
    color: #469b9d;
    text-shadow: -2px -2px 0px white, 2px -2px 0px white, -2px 2px 0px white, 2px 2px 0px white;
}
